*
{
    border: 2px solid red;
}

.content-wrapper
{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
}


/*Grid container setup*/

.sidebar-wrapper
{
    grid-column-start: 1;
    grid-row-end: 2;
}

.header-wrapper, .body-wrapper
{
    grid-column-start: 2;
}

.header-wrapper
{
    grid-row-end: 1;
}

.body-wrapper
{
    grid-row-end: 2;
}

/*Sidebar grid setup*/

.sidebar-wrapper
{
    display: grid;
}